body {
  background-color: black;
  color: white;
  font-family: sans-serif;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  overflow: hidden;
}

#screen {
  cursor: url("./cursors/default.png"), default;
  outline: none;
}

canvas {
  display: block;
  width: 100%;
}

#pause-menu {
  background-color: rgba(0, 0, 0, .5);
  cursor: url("./cursors/default.png"), default;
  outline: none;
  position: absolute;
  top: 0;
}

#settings {
  align-items: center;
  display: flex;
  font-size: 3em;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.volume-slider {
  display: flex;
  flex-direction: column;
}

.volume-slider label {
  margin-bottom: 0.25em;
  text-align: center;
}

.volume-slider input {
  margin-bottom: .5em;
}

body:not(.paused) #pause-menu {
  display: none;
}

.pause-toggle {
  cursor: url("./cursors/pointer.png") 7 2, pointer;
  opacity: .75;
  position: absolute;
}

body:not(.interacted) .pause-toggle {
  display: none;
}

body:not(.pausable) .pause-toggle {
  display: none;
}

body.paused #pause-button {
  display: none;
}

body:not(.paused) #unpause-button {
  display: none;
}