<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, viewport-fit=cover">
    <title>{{title}}</title>
    <link rel="stylesheet" href="./normalize.css" />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body data-run-id="{{runID}}">
    <div id="screen" tabindex="-1"></div>
    <div id="pause-menu" tabindex="-1">
      <div id="settings">
        <div id="volume-sliders">
          <div class="volume-slider">
            <label for="main-volume-slider-input">Main volume</label>
            <input id="main-volume-slider-input" name="main-volume-slider-input" type="range" value="100" min="0" max="100" />
          </div>
        </div>
      </div>
    </div>
    <img id="pause-button" class="pause-toggle" src="./svg/pause.svg" />
    <img id="unpause-button" class="pause-toggle" src="./svg/unpause.svg" />
    <script src="./library-script.js"></script>
    <script src="./game-script.js"></script>
  </body>
</html>