<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, viewport-fit=cover">
    <title>{{{name}}}</title>
    <link rel="icon" href="./favicon.ico" />
    <link rel="stylesheet" href="./normalize.css" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="./toasts.css" />
  </head>
  <body data-run-id="{{{runID}}}">
    <div id="screen" tabindex="-1"></div>
    <div id="achievement-unlock-notices"></div>
    <div id="pause-menu" class="main" tabindex="-1">
      <div id="pause-content">
        <div id="pause-main">
          <div id="mute-toggle" class="checkbox-settings">
            <label for="mute-toggle-input">Mute</label>
            <input id="mute-toggle-input" name="mute-toggle-input" type="checkbox" />
          </div>
          <div id="volume-sliders">
            <div class="volume-slider">
              <label for="main-volume-slider-input">Main volume</label>
              <input id="main-volume-slider-input" name="main-volume-slider-input" type="range" value="100" min="0" max="100" />
            </div>
          </div>
          <div id="copy-screenshot-toggle" class="checkbox-settings">
            <label for="copy-screenshot-toggle-input">Copy screenshots to clipboard</label>
            <input id="copy-screenshot-toggle-input" name="copy-screenshot-toggle-input" type="checkbox" />
          </div>
          <div id="scale-screenshot">
            <label for="scale-screenshot-input">Scale screenshots</label>
            <input id="scale-screenshot-input" name="scale-screenshot-input" type="number" value="1" step="1" min="1" max="10" />
            <span>x</span>
          </div>
          <button id="screenshot-button">Screenshot</button>
          <button id="controls-button">Controls</button>
          <button id="achievements-button">Achievements</button>
        </div>
        <div id="pause-controls">
          <button id="controls-back-button" class="pause-back-button">Back</button>
          <button id="controls-reset-button">Reset to defaults</button>
          <div id="controls-grid"></div>
        </div>
        <div id="pause-achievements">
          <button id="achievements-back-button" class="pause-back-button">Back</button>
          <div id="achievements-amount">Unlocked: <span id="achievements-amount-unlocked"></span> / <span id="achievements-amount-total"></span> <span id="achievements-amount-percent"></span></div>
          <div id="achievements-grid"></div>
        </div>
      </div>
    </div>
    <div id="pause-buttons">
      <img id="pause-button" class="pause-toggle" src="./svg/pause.svg" draggable="false" />
      <img id="unpause-button" class="pause-toggle" src="./svg/unpause.svg" draggable="false" />
    </div>
    <script src="https://cdn.jsdelivr.net/gh/PsychoGoldfishNG/newgrounds.io-for-javascript-html5@2d7dcda/bin/newgroundsio.min.js"></script>
    <script>
      try {
        window.newgrounds = new window.Newgrounds.io.core("{{{newgroundsAppID}}}", "{{{newgroundsEncryptionKey}}}");
      }
      catch {
        window.newgrounds = null;
      }
    </script>
    <script src="./library-script.js"></script>
    <script src="./game-script.js"></script>
  </body>
</html>
